@import "bootstrap-sprockets";
@import "bootstrap";



img.small-cover {
    width: 200px;
    height: 300px;
}

div.inline {
    display: inline-block;
    vertical-align: text-top;
}

div.novel-item {
   margin-top: 14px;

   .cover {
      margin-right: 10px;
   }

   .details {
      width: 400px;
   }
}

img.cover {
    width: 400px;
    height: 600px;
}

div#main {
  margin: 100px;
}

.btn {
   margin: 4px;
}



.navbar-form {
  @media (min-width: 768px) {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
}

.navbar-left {
  @media (min-width: 768px){
    float: left !important;
  }
}
